body {
  max-width: 320px;
  margin: auto;
  background: #E4D7BA;
}

header {
  margin: 20px 35px 46px 35px;
}

.burger {
  display: flex;
  
  align-self: flex-end;
}

main {
  margin: 0 35px 31px 35px;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 37.5px;
  font-family: "lust-script-display", sans-serif;
  font-style: normal;
}

h2 {
  font-size: 26px;
  font-family: "lust-script-display", sans-serif;
  font-style: normal;
}

h3 {
  font-size: 16px;
  font-family: "lust-script-display", sans-serif;
  font-style: normal;
}

p {
  font-size: 18px;
  font-family: "agenda", sans-serif;
  font-style: normal;
}

iframe {
  margin: auto;
  width: 200px;
  display: block;
}

span {
  font-family: "agenda", sans-serif;
  font-style: italic;
  color: #444444;
}

main .prices {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main .element {
  width: 50%;
}

footer {
  text-align: center;
}  

footer p {
  font-size: 12px;
}  
footer img {
  box-sizing: border-box;
} 
