body {
  max-width: 320px;
  margin: auto;
  background: #E4D7BA;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 37.5px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 18px;
}

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
}